<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients Data</title>
</head>
<body>
    <h1>Doctor Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>user</th>
                <th>profile_picture</th>
                <th>Address_line1</th>
                <th>city</th>
                <th>state</th>
                <th>pincode</th>
                <!-- Add more columns for additional fields -->
            </tr>
        </thead>
        <tbody>
            {% for doctors in doctor % }
                <tr>
                    <td>{{ Doctor.user }}</td>
                    <td>{{ Doctor.profile_picture }}</td>
                    <td>{{ Doctor.address_line1 }}</td>
                    <td>{{ Doctor.city }}</td>
                    <td>{{ Doctor.state }}</td>
                    <td>{{ Doctor.pincode}}</td>
                    <!-- Add more cells for additional fields -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
